/* Variables */

$black: #000000;
$white:  #FFFFFF;
$blue:#00aeef;
$green:  #66c917;
$font:"https://fonts.googleapis.com/css?family=Open+Sans:400,800";

/* mixin */
@mixin font-size($size) {
  font-size: ($size/16px) + rem;
  
}

/* BlockTags */
body{
     font: $font;
      background: #2a3f70;
   
 
    
    
}
h1{
    @include font-size(36px);
}
p{
    @include font-size(22px);
}

a{
    color: $white;
}

 a:hover{
    color: $black;
}



/* nav */
.navbar {
    min-height: 100px;
    padding-top: 20px;
    margin: 0;
  
    

    
    .brandLogo {
     margin-top: -30px;
     max-width: 40%;
    
     }
    
    .navbar-nav li {
        a{
        color: $white;
       
        @include font-size(28px);    
        
        &:hover,
        &:focus{
            color: $black;
            
            }
        }
       .homeIcon{
       width:  60px;
        padding-top: 0px;
    }
    
   

}
    .navbar-toggle{
    border-color: $white;
    &:focus{
    color: $white;
    }
        .icon-bar {
    background:$white;
    }
   
    }
 }


 -



/* Footer */
.footer-main{
    background-image: url(concrete_wall.png);
    background-repeat: repeat;
    min-height: 80px;
    
}

.footer-copyright {
  padding-top: 30px;
  color: #FFFFFF;
}


/* board */

  .dice {
  position: absolute;
  border-radius: 5px;
  border: 3px solid #75CD65;
  width:60px;
  height: 70px;
  padding:5px;
  font-size:44px;
  background:#F5F5F5;
  top: 170px;
  left: 140px;
  text-align:center;
  }

.dieButton {
  position: absolute;
  border-radius: 5px;
  width:120px;
  height: 50px;
  padding:1px;
  font-size:20px;
  background-color:#75CD65;
  top: 100px;
  left: 127px;
  border: 2px solid #75CD65;
  text-align:center;
} 

 .bottom-row {
  position:absolute;
  height: 210px;
  left: 60%;
}
.player {
  position: absolute;
  height: 40px;
  width: 40px;
   border: 1px solid;
}   
 
 #canvas {
  position: absolute;
  top: 100px;
  left: 100px;
   border: 2px solid #75CD65;
  
}
 #board {
  position: absolute;
  top: 50px;
  left: 50px;
}
.playAgain{
   position: absolute;  
  top: 100px;
  left: 320px;
 background-color: red;
 color: white
}







