/*  Base styles, variables, mixins, */
/* Variables */
/* mixin */
/* BlockTags */
body {
  font: "https://fonts.googleapis.com/css?family=Roboto";
  background: #2a3f70;
}

h1 {
  font-size: 3.125rem;
}

h3 {
  font-size: 1.125rem;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: #000000;
}

/* nav */
.navbar {
  min-height: 100px;
  padding-top: 20px;
  margin: 0;
}
.navbar .navbar-brand {
  margin-top: -50px;
}
.navbar .navbar-nav li a {
  color: #FFFFFF;
  font-size: 1.75rem;
}
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
  color: #000000;
}
.navbar .navbar-nav li .homeIcon {
  width: 60px;
  padding-top: 0px;
}
.navbar .navbar-toggle {
  border-color: #FFFFFF;
}
.navbar .navbar-toggle:focus {
  color: #FFFFFF;
}
.navbar .navbar-toggle .icon-bar {
  background: #FFFFFF;
}

/* Footer */
.footer-main {
  background-image: url(concrete_wall.png);
  background-repeat: repeat;
  min-height: 80px;
}

.footer-copyright {
  padding-top: 30px;
  color: #FFFFFF;
}

/* for small devices */
@media (max-width: 920px) {
  .navbar-brand {
    margin-top: -20px;
  }
}
@media (max-width: 768px) {
  .navbar-brand {
    margin-top: 10px;
  }

  .card {
    padding-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .navbar-brand {
    margin-top: -5px;
    max-width: 80%;
  }
}
@media (max-width: 320px) {
  .navbar-brand {
    margin-top: 10px;
    max-width: 80%;
  }

  .img-overlay .playButton {
    max-height: 40%;
  }
}
/* board */
.dice {
  position: absolute;
  border-radius: 5px;
  border: 3px solid #75CD65;
  width: 60px;
  height: 70px;
  padding: 5px;
  font-size: 44px;
  background: #F5F5F5;
  top: 170px;
  left: 140px;
  text-align: center;
}

.dieButton {
  position: absolute;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  padding: 1px;
  font-size: 20px;
  background-color: #75CD65;
  top: 100px;
  left: 127px;
  border: 2px solid #75CD65;
  text-align: center;
}

.bottom-row {
  position: absolute;
  height: 210px;
  left: 60%;
}

.player {
  position: absolute;
  height: 40px;
  width: 40px;
  border: 1px solid;
}

#canvas {
  position: absolute;
  top: 100px;
  left: 100px;
  border: 2px solid #75CD65;
}

#board {
  position: absolute;
  top: 50px;
  left: 50px;
}

.playAgain {
  position: absolute;
  top: 100px;
  left: 320px;
  background-color: red;
  color: white;
}

.img-wrapper {
  position: relative;
}
.img-wrapper .img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.img-wrapper .img-overlay:before {
  content: " ";
  display: block;
  height: 50%;
}

/* slide */
.img-responsive {
  width: 100%;
  height: auto;
}

/* charcter cards */
.card {
  height: auto;
  background-color: #ffffff;
  filter: drop-shadow(8px 8px 10px gray);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.card h3 {
  font-size: 18px;
  padding-bottom: 10px;
  text-align: center;
}
.card button {
  border: 3px solid #66c917;
  font-size: 18px;
  background: #66c917;
  color: #FFFFFF;
  margin-bottom: 20px;
  box-shadow: 0 9px #999;
  width: 150px;
}
.card button .btnOff {
  border: 3px solid #66c917;
  font-size: 20px;
  background: #66c917;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.card button .btnOn {
  border: 3px solid #66c917;
  font-size: 16px;
  background: #66c917;
  color: #d43c3c;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
