/* Variables */

$black: #000000;
$white:  #FFFFFF;
$blue:#00aeef;
$green:  #66c917;
$font:"https://fonts.googleapis.com/css?family=Open+Sans:400,800";

/* mixin */
@mixin font-size($size) {
  font-size: ($size/16px) + rem;
  
}

/* BlockTags */
body{
     font: $font;
      background: #2a3f70;
   
 
    
    
}
h1{
    @include font-size(36px);
}
p{
    @include font-size(22px);
}

a{
    color: $white;
}

 a:hover{
    color: $black;
}



/* nav */
.navbar {
    min-height: 100px;
    padding-top: 20px;
    margin: 0;
  
    

    
    .brandLogo {
     margin-top: -30px;
     max-width: 40%;
    
     }
    
    .navbar-nav li {
        a{
        color: $white;
       
        @include font-size(28px);    
        
        &:hover,
        &:focus{
            color: $black;
            
            }
        }
       .homeIcon{
       width:  60px;
        padding-top: 0px;
    }
    
   

}
    .navbar-toggle{
    border-color: $white;
    &:focus{
    color: $white;
    }
        .icon-bar {
    background:$white;
    }
   
    }
 }


 .img-wrapper {
  position: relative;
     .img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  height: 60%;

}

 }



/* slide */

  .img-responsive{
    width: 100%;  
    height: auto;

}  


/* charcter cards */

.card{
    height: auto;
    background-color:  #ffffff;
    filter: drop-shadow(8px 8px 10px gray);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    
    h3{
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
}
button{
      border: 3px solid  #66c917;
    font-size: 18px;
    background: #66c917;
     color: $white;
     margin-bottom: 20px;
    box-shadow: 0 9px #999;
    width: 150px;
         
         
    .btnOff{
     border: 3px solid  $green;
    font-size: 20px;
    background: $green;
     color: $white;
     margin-bottom: 20px; 
    }
   .btnOn{
    border: 3px solid  #66c917;
    font-size: 16px;
    background: #66c917;
     color: "red";
     margin-bottom: 20px  
} 
    
    
   }
 
 }






/* Footer */
.footer-main{
    background-image: url(concrete_wall.png);
    background-repeat: repeat;
    min-height: 80px;
    
}

.footer-copyright {
  padding-top: 30px;
  color: #FFFFFF;
}




/* for small devices */
@media(max-width:768px){
    
    .brandLogo{
    
     margin-top: 30px;
     max-width: 20%;
    
     }
    
   .card{
      padding-bottom: 20px;
    }  
}

@media(max-width : 480px){
    .brandLogo{
    
     margin-top: 60px;
     max-width: 30%;
    
     }
}


 @media(max-width : 320px){
    
    .brandLogo {
    
     max-width:20%;
    
     }
}






