/* Variables */

$black: #000000;
$white:  #FFFFFF;
$blue:#00aeef;
$green:  #66c917;
$background :#2a3f70;
$button     :#66c917;
$red   : #d43c3c;

$font1:"https://fonts.googleapis.com/css?family=Lato" 
$font2:"https://fonts.googleapis.com/css?family=Roboto" 
